.post_container{
    padding: 10px;
    transition: all 0.4s;
    &:hover{
        z-index: 100;
    }
}

.post_wrapper{
    display: flex;
    gap: 10px;
}

.post_left{
    img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
    }
}
.post_body{
    flex-grow: 1;
    word-break: break-all;
}

.post_body_header{
    margin-bottom: 5px;
}

.post_body_content{
    margin-bottom: 5px;
    font-size: 18px;

}

.post_body_footer{
    display: flex;
    gap: 10px;
    padding-right: 50px;
    justify-content: space-between;
    &__icon_btn{
        cursor: pointer;
        &__number{
            font-weight: 600;
        }
    }
}
.post_image_wrapper__post_component{
    margin-top: 22px;
    margin-bottom: 5px;
}
