.audio_player_wrapper{
}

.audio_player_controls_play{
    display: flex;
    align-items: center;
    gap: 20px;
    &__track_name{
        font-size: 16px;
        font-weight: 600;
        color: slategrey;
    }
}
