
.tracks_page_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
    &__title{

    }
    &__tracks_wrapper{

    }
}






