.form_body_post{
    display: flex;
    gap: 20px;
    &__avatar{
        img{
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    &__text_field{
        width: 100%;
        border: 0;
        font-size: 20px;
        outline: none;
        font-family: inherit;
        resize: none;
        padding: 10px 0;
    }
}

.text_field_form_post__wrapper{
    flex-grow: 1;
}

.form_post_footer{
    display: flex;
    padding-left: 60px;
    align-items: center;
    justify-content: space-between;
    &__icons{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__right{
        display: flex;
        align-items: center;
        gap: 15px;

        &__border{
            width: 5px;
            height: 30px;
            background-color: black;
        }

        &__total_count_words{
            font-weight: 900;
        }

        &__info_progress{
            position: relative;
            .info_progress__count_words{
                position: absolute;
                top: 43%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-weight: 600;
            }
            }
        }
    }

.image_for_form_create_post_wrapper{
    padding-left: 60px;
}


.emogi_wrapper{
    position: absolute;
    top: 100%;
    left: 100%;
    z-index: 10;
}
.icon__item_emoji{
    position: relative;
}