.header_block{
    background-color: rgb(32,32,32);
}

.header__logo{
    img{
        width: 60px;
        height: 60px;
        object-fit: cover;
    }
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-container__avatar{
    img{
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
        display: block;
    }
}

.header_left{
    display: flex;
    align-items: center;
    gap: 20px;
}