.modal_wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}
.modal_close_icon_wrapper{
    position: relative;
}

.modal_close_icon{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}